
<div class="sright">
    <table border="1" class="tabl2">
        <tr><h3>Cart</h3></tr>
    <tbody *ngFor="let citem of citems  let n=index">
        <tr><td>Item
        <pre>      {{citem.item}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="remove(n,citem)">Remove</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{citem.price}}</pre>
        </td>
        </tr>
        </tbody>
      </table>
      </div>